@font-face {
    font-family: 'GT Maru Mega Maxi Outline Glow';
    src: url('GTMaruMega-MaxiOutlineGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Maxi Outline Shaded Glow';
    src: url('GTMaruMega-MaxiOutlineShadedGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Maxi Glow';
    src: url('GTMaruMega-MaxiGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Maxi';
    src: url('GTMaruMega-Maxi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Maxi Shaded';
    src: url('GTMaruMega-MaxiShaded.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Maxi Outline';
    src: url('GTMaruMega-MaxiOutline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi Glow';
    src: url('GTMaruMega-MidiGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi Outline Glow';
    src: url('GTMaruMega-MidiOutlineGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi Outline';
    src: url('GTMaruMega-MidiOutline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi Outline Shaded Glow';
    src: url('GTMaruMega-MidiOutlineShadedGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi';
    src: url('GTMaruMega-Midi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Midi Shaded';
    src: url('GTMaruMega-MidiShaded.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini Outline Shaded Glow';
    src: url('GTMaruMega-MiniOutlineShadedGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini Outline Glow';
    src: url('GTMaruMega-MiniOutlineGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini Outline';
    src: url('GTMaruMega-MiniOutline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini Glow';
    src: url('GTMaruMega-MiniGlow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini Shaded';
    src: url('GTMaruMega-MiniShaded.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Maru Mega Mini';
    src: url('GTMaruMega-Mini.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

